/*CSS for RooM project*/

@font-face
{
font-family: 'interval_condensedlight';
src: url('interval_light_cond-webfont.woff');

font-family: 'interval_condensedmedium';
src: url('interval_medium_cond-webfont.woff');

font-family: 'interval_condensedregular';
src: url('interval_cond_regular-webfont.woff');

font-family: 'interval_condensedultralight';
src: url('interval_ultra_light_cond-webfont.woff');

font-family: 'interval_regular';
src: url('interval_regular-webfont.woff');
}


.row-fluid .span10 { margin: 0 auto!important; float: none!important; }
.row-fluid .logo-area { background-color: #fff; float:left; width:25%; }
.row-fluid .logo-area img { float:right;}
.row-fluid .logo-area #main-logo { margin-top: 6px; margin-right: 5%; width: 47.3%;}
.row-fluid .logo-area #room-logo { width: 24.4%;}

.row-fluid .main-nav { margin-left: 0!important; background-color: #777777; height:41px; width:75%;}
.row-fluid .main-nav ul.nav { list-style-type: none; height: 41px; margin:0; padding:0; }
.row-fluid .main-nav ul.nav li:not(.offset2){ margin-left: 0; float: left; width:11%;}
.row-fluid .main-nav ul.nav li.offset1 { margin-left:5%!important;}
a.btn.btn-navbar.list-icon { background: transparent url('images/sprite-part1.png') -384px -986px; width:35px; height:19px; float:right;}



/*.row-fluid .main-nav ul.nav li.pull-left { float: left!important;}
.row-fluid .main-nav ul.nav li.pull-right { float: right!important;}*/

.row-fluid .main-nav ul.nav li a { text-decoration: none; color: #fff;  font-family: 'interval_condensedregular'; font-size:15px; margin: 9% 10% 5%; float:left;}
.row-fluid .main-nav ul.nav li a.upload span, .row-fluid .main-nav ul.nav li a.ropuchen span { margin-left:100%; float:left; padding-left: 14%;  }
.row-fluid .main-nav ul.nav li a.upload {width: 100%; background: transparent url("images/sprite-part1.png") -620px -970px no-repeat; height: 45%; width: 12.5%;/* padding-right: 7%;*/ float:left; }
.row-fluid .main-nav ul.nav li a.ropuchen { background: transparent url("images/sprite-part1.png") -620px -970px no-repeat; height: 18px; width: 18px; }

